span,
input {
  font-size: 1em;
  padding: .25em .5em .3125em;
  color:darkgrey;
  border-radius: .25em;
  background: transparent;
  -webkit-transition: all .100s;
  transition: all .100s;
}

span:focus,
input:focus {
  outline: none;
  color: black;
  border-color: black;
  opacity: 0.5;
}

span.keyup,
input.a.keyup {
  color: black;
  opacity: 0.5;
  border-color: black;
  text-shadow: 0 0 .125em black;
  box-shadow: 0 0 .25em black,inset 0 0 .25em black;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

::-webkit-input-placeholder {
  color:darkgrey;
  opacity: 0.5;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  color:darkgrey;
  opacity: 0.5;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  -moz-transition: all .25s; 
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
	color:darkgrey;
  opacity: 0.5;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .15s;
  transition: all .15s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

html, body {
  height: 100%;
  overflow: hidden;
}



.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: rgba(225,225,225,0.8);
}

.text1 {
  text-align: center;
  font-family: "微软雅黑";
  letter-spacing: 5px;
  line-height: 32px;

}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
