@charset "UTF-8";
body{
	width:500px;
	font-family: "microsoft yahei","微软雅黑";
	margin: 0 auto;
	text-align:center;
/*	background:url(timg.jpeg) repeat 5px 5px;*/
}
table {
    margin: 0 auto;
    width:500px;
    font-family: "microsoft yahei","微软雅黑";
    border-collapse:collapse;
    text-align:center;
}
table, th, td{
    border: 1px solid black;
    text-align:center;
    width:500px;
}
th, td{
    padding: 5px 10px;
    text-align:center;
}
input{
    width: 100px;
	height: 30px;
}
submit{
	font-family: "microsoft yahei","微软雅黑";
    width: 100px;
	height: 30px;
	font-size:20px;
}